.container{
    margin-top: 1%;
}
nav{
    border-bottom: solid #e2f5fa;
    padding-left: 15px; 
    padding-right: 15px;   
}

.col{
    margin: 5px;
    border-radius: 8px;
    background-color: #e9e9e9;
    box-shadow: 10px 10px 20px -14px rgba(0, 0, 0, 1.0);
    text-decoration: none;
    color: tomato;
    font-size: x-large;
    font-weight: bold;
}

.col:hover{
    box-shadow: 15px 15px 25px -14px rgba(0, 0, 0, 1.0);
}

.index_p{
    display: flex;
    justify-content: center;
    text-align: justify;
    font-size: xx-large;

}
.index_h1{
    margin-top: 35px;
    display: flex;
    justify-content: center;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

.nav-link:hover{
    border-bottom: solid tomato;
    padding-bottom: 5px;
}
.navbar-brand{
    color: tomato;
    margin-left: 100px;
}

.dropdown-menu{
    right: 0;
    left: auto;
    margin-right: 15px;
}

.navbar-nav{
    margin-right: 100px;
}

.navbar-nav.ms-auto {
    margin-left: auto;
}

.nav-item{
    margin-left: 10px;
    margin-right: 10px;
}
b{
    color: tomato;
}

